* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    
}

body{
    background: white;
    background-repeat: no-repeat;
    background-size: contain;
}

@font-face {
    font-family: 'Gt Eesti Pro Display UltraBold';
    src: url("../static/fonts/gt eesti pro display/gteestiprodisplay_ultrabold.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gt Eesti Pro Display Medium';
    src: url("../static/fonts/gt eesti pro display/gteestiprodisplay_medium.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gt Eesti Pro Display Regular';
    src: url("../static/fonts/gt eesti pro display/gteestiprodisplay_regular.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gt Eesti Pro Display Light';
    src: url("../static/fonts/gt eesti pro display/gteestiprodisplay_light.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gt Eesti Pro Display Thin';
    src: url("../static/fonts/gt eesti pro display/gteestiprodisplay_thin.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media screen and (orientation: portrait) {
    html{
        width: 100vw;
        overflow-x: hidden;
    }
}