.container{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 20px;
  a{
    text-decoration: none;
  }
}

.Item{
  width: 46.5%;
  height: 32vh;
  background-color: #324552;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  text-align: center;
  .ItemImg{
    width: 95%;
    min-height: auto;
    margin-top: 10px
  }
  .ItemTitle{
    width: 95%;
    min-height: 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #224170;

    font-family: 'Gt Eesti Pro Display Medium', sans-serif;
    font-size: 12px;
    color: white;
    text-align: center;
    border-radius: 10px;
  }
  .ItemName{
    width: 95%;
    height: 25%;

    display: flex;
    flex-direction: column;
    justify-content: center;


    font-family: 'Gt Eesti Pro Display Medium', sans-serif;
    font-size: 80%;
    color: white;
  }
}

