{{define "header"}}
<div class="header">
    <ul>
        <li>Статьи</li>
        <li>О проекте</li>
    </ul>
</div>
<div class="subheader">
    <div class="subheader_container">
        <img src="/static/img/logo.png" alt="logo">
        Объясняем на графиках,
        а не на пальцах
    </div>
</div>
{{end}}